html, body{
	height: 100%;
	width: 100%;
	background: #1b1c1f;
    color: #FFF;
}

.menuWrapper{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.menuWrapper .menuElem{
    position: relative;
    display: block;
    width: 100%;
    text-align: justify;
    margin-top: 10px;

}

/*.menuWrapper .menuElem .menuItemHead{

}*/

.menuWrapper .menuElem .imgSmall{

    max-width: 150px; /* you can use % */
    height: auto;
}

@media only screen and (max-width: 768px) {
    .container{
        margin: 0;
        padding: 0;
    }
   
}